FORMAT: 1A
HOST: https://vs004.inps.co.uk

# VHG_demo
TODO: Add Description

# Group Appointments

## Appointments V11 Organisations 12345 Patients 3 Notes [/appointments/v1.1/organisations/12345/patients/3/notes]

### Appt  Get Pat Notes copy [GET]
TODO: Add Description

+ Request (application/json)
    + Headers

            X-Business-TransactionId:1dd776dc-8a4a-4f42-8e41-c67a167450fd
            Accept-Encoding:gzip

    + Attributes (Appt  Get Pat Notes copyRequest)

    + Body

            {
                "auth_type": "password",
                "user_name": "anton.moonstone@nhs.net",
                "secret": "password2",
                "role_id": "897",
                "client": {
                    "device_id": "1234",
                    "product_key": "bwpelbovlywkb9se",
                    "product_version": "3.0",
                    "other_details": "TT Testing via Postman"
                }
            }


+ Response 200 





# Group MPI

## V1 MasterPatientIndex PatientViews [/v1/masterPatientIndex/patientViews]

### Master Patient Search copy [POST]
TODO: Add Description

+ Request (application/json)
    + Headers

            X-Business-TransactionId:9c7b1fb4-99ac-49a6-bd09-923ca70690df
            Accept-Encoding:gzip

    + Attributes (Master Patient Search copyRequest)

    + Body

            {
                "identifier": {
                    "system": "http://fhir.nhs.net/Id/nhs-number",
                    "value": ""
                },
                "dob": "",
                "forenamePart": "",
                "surnamePart": "{{patient_surname}}",
                "postcodePart": "",
                "address": ""
            }


+ Response 200 





# Group Misc

## V2 Session Connections [/v2/session_connections]

### Security  Login copy [POST]
TODO: Add Description

+ Request (application/json)
    + Headers

            X-Business-TransactionId:c5432ddf-c3c4-4d24-a88e-5dc6d68ec5a3
            Accept-Encoding:gzip

    + Attributes (Security  Login copyRequest)

    + Body

            {
                "auth_type": "password",
                "user_name": "anton.moonstone@nhs.net",
                "secret": "password3",
                "role_id": "884",
                "client": {
                    "device_id": "{{device_id}}",
                    "product_key": "{{product_key}}",
                    "product_version": "{{product_version}}",
                    "other_details": "Tony testing 1490222281"
                }
            }


+ Response 200 




## V1 Organisations 12345 Patients 3 [/v1/organisations/12345/patients/3]

### Patient  Get Patients by ID copy [GET]
TODO: Add Description

+ Request 
    + Headers

            X-Business-TransactionId:b4b5bab1-66eb-4480-a6da-ff85fc2272f1
            accept-encoding:gzip, deflate




+ Response 200 




## V1 Organisations 12345 CareRecords [/v1/organisations/12345/careRecords]

### Request patient record copy [POST]
TODO: Add Description

+ Request (application/json)
    + Headers

            X-Business-TransactionId:92be5beb-1b3a-413c-88b2-fa63876afccb
            Accept-Encoding:gzip

    + Attributes (Request patient record copyRequest)

    + Body

            {
                "patient": {
                    "id": "506",
                    "dob": "1981-04-28"
                },
                "filter": {}
            }


+ Response 200 





# Data Structures

## Appt  Get Pat Notes copyRequest (object)


### Properties
+ `auth_type` (string, required) 
+ `user_name` (string, required) 
+ `secret` (string, required) 
+ `role_id` (string, required) 
+ `client` (Client, required) 


## Client (object)


### Properties
+ `device_id` (string, required) 
+ `product_key` (string, required) 
+ `product_version` (string, required) 
+ `other_details` (string, required) 


## Master Patient Search copyRequest (object)


### Properties
+ `identifier` (Identifier, required) 
+ `dob` (string, required) 
+ `forenamePart` (string, required) 
+ `surnamePart` (string, required) 
+ `postcodePart` (string, required) 
+ `address` (string, required) 


## Identifier (object)


### Properties
+ `system` (string, required) 
+ `value` (string, required) 


## Security  Login copyRequest (object)


### Properties
+ `auth_type` (string, required) 
+ `user_name` (string, required) 
+ `secret` (string, required) 
+ `role_id` (string, required) 
+ `client` (Client, required) 


## Request patient record copyRequest (object)


### Properties
+ `patient` (Patient, required) 
+ `filter` (object, required) 


## Patient (object)


### Properties
+ `id` (string, required) 
+ `dob` (string, required) 

