FORMAT: 1A
HOST: https://vs004.inps.co.uk

# VHG_demo
TODO: Add Description

# Group Appointments

## Appointments V11 Organisations 12345 Patients 1 Notes [/appointments/v1.1/organisations/12345/patients/1/notes]

### Appt  Get Pat Notes copy [GET]
TODO: Add Description

+ Request (application/json)
    + Headers

            X-Business-TransactionId:17c0fed5-7b27-46ad-a1b7-1797b6558b1f
            Accept-Encoding:gzip

    + Attributes (Appt  Get Pat Notes copyRequest)

    + Body

            {
                "auth_type": "password",
                "user_name": "anton.moonstone@nhs.net",
                "secret": "password2",
                "role_id": "897",
                "client": {
                    "device_id": "1234",
                    "product_key": "bwpelbovlywkb9se",
                    "product_version": "3.0",
                    "other_details": "TT Testing via Postman"
                }
            }


+ Response 200 





# Group Misc

## V2 Session Connections [/v2/session_connections]

### Security  Login copy [POST]
TODO: Add Description

+ Request (application/json)
    + Headers

            X-Business-TransactionId:a9d1327d-1516-4e55-a000-7be47cf99867
            Accept-Encoding:gzip

    + Attributes (Security  Login copyRequest)

    + Body

            {
                "auth_type": "password",
                "user_name": "anton.moonstone@nhs.net",
                "secret": "password3",
                "role_id": "884",
                "client": {
                    "device_id": "{{device_id}}",
                    "product_key": "{{product_key}}",
                    "product_version": "{{product_version}}",
                    "other_details": "Tony testing 1490135886"
                }
            }


+ Response 200 




## V1 Organisations 12345 Patients 821 [/v1/organisations/12345/patients/821]

### Patient  Get Patients by ID copy [GET]
TODO: Add Description

+ Request 
    + Headers

            X-Business-TransactionId:fb5bb17b-1cc8-424f-b3d0-2fe13a5e6701
            accept-encoding:gzip, deflate




+ Response 200 

    + Headers

            Accept:*/*
            Breadcrumbid:ID-viab-vts-00002-49199-1487684066261-74-5
            Content-length:103
            Date:Tue, 21 Feb 2017 18:08:33 GMT
            Id:36293EB7-F80E-4A69-A70C-C2F64DCF2ABA
            Organisationid:12345
            Server:Restlet-Framework/2.2.3
            X-Originating-Security-Domain:HOSTED
            X-Target-Practice:12345

    + Attributes (object)

    + Body

            {
                "status": "error",
                "error": {
                    "diagnostic": null,
                    "text": "Unknown Error",
                    "category": "FATAL",
                    "code": "VZZZZ"
                }
            }




# Data Structures

## Appt  Get Pat Notes copyRequest (object)


### Properties
+ `auth_type` (string, required) 
+ `user_name` (string, required) 
+ `secret` (string, required) 
+ `role_id` (string, required) 
+ `client` (Client, required) 


## Client (object)


### Properties
+ `device_id` (string, required) 
+ `product_key` (string, required) 
+ `product_version` (string, required) 
+ `other_details` (string, required) 


## Security  Login copyRequest (object)


### Properties
+ `auth_type` (string, required) 
+ `user_name` (string, required) 
+ `secret` (string, required) 
+ `role_id` (string, required) 
+ `client` (Client, required) 

