FORMAT: 1A
HOST: https://aws-vs002.inps.co.uk

# VHG_demo
TODO: Add Description

# Group Appointments

## Appointments V11 Organisations Patients 3 Notes [/appointments/v1.1/organisations/{org_id}/patients/3/notes]

+ Parameters
    + org_id (string, required)


### Appt  Get Pat Notes copy [GET]
TODO: Add Description

+ Request (application/json)
    + Headers

            X-Business-TransactionId:3bcaa9e2-03b2-4f28-ad47-00483bfaf91c
            Accept-Encoding:gzip
            Authorization:vision_connection token={{token}}





+ Response 200 





# Group MPI

## V1 MasterPatientIndex PatientViews [/v1/masterPatientIndex/patientViews]

### Master Patient Search copy [POST]
Post a set filter criteria to the "patientViews" collection and return display details for the matching patients. Filter criteria can be partial.
## Supported ID systems are;
* NHS
* CHI

+ Request (application/json)
    + Headers

            X-Business-TransactionId:9206d13b-231c-4c0f-92a4-45f65a5e2cf1
            Accept-Encoding:gzip
            Authorization:vision_connection token={{token}}


    + Attributes (Master Patient Search copy Request)


    + Body

            {
                "identifier": {
                    "system": "http://fhir.nhs.net/Id/nhs-number",
                    "value": "{{nhs_no}}"
                },
                "dob": "1996-07-05",
                "forenamePart": "JOHN",
                "surnamePart": "KENNEDY",
                "postcodePart": "{{patient_postcode}}",
                "address": "{{patient_address}}"
            }


+ Response 200 





# Group Misc

## V2 Session Connections [/v2/session_connections]

### Security  Login copy [POST]
Get session connections

+ Request (application/json)
    + Headers

            X-Business-TransactionId:1e3b3014-2f91-4772-b8ab-5ec698f09ff2
            Accept-Encoding:gzip


    + Attributes (Security  Login copy Request)


    + Body

            {
                "auth_type": "password",
                "user_name": "bash@test2.com",
                "secret": "vision360",
                "role_id": "137",
                "client": {
                    "device_id": "{{device_id}}",
                    "product_key": "{{product_key}}",
                    "product_version": "{{product_version}}",
                    "other_details": "Tony testing 1558996685"
                }
            }


+ Response 200 




## V1 Organisations Patients 3 By Org Id [/v1/organisations/{org_id}/patients/3]

+ Parameters
    + org_id (string, required)


### Patient  Get Patients by ID copy [GET]
TODO: Add Description

+ Request (application/json)
    + Headers

            X-Business-TransactionId:8dcf7e5e-c5a8-45e6-b93e-98040cc7d07d
            accept-encoding:gzip, deflate
            Authorization:vision_connection token={{token}}





+ Response 200 




## V1 Organisations CareRecords By Org Id [/v1/organisations/{org_id}/careRecords]

+ Parameters
    + org_id (string, required)


### Request patient record copy [POST]
Get care records
Pass in patient id and DoB.

+ Request (application/json)
    + Headers

            X-Business-TransactionId:7f890a09-9b4d-4dd3-8f09-f5e5c5bb69ad
            Accept-Encoding:gzip
            Authorization:vision_connection token={{token}}


    + Attributes (Request patient record copy Request)



+ Response 200 



### Write chronic back pain [PATCH]
First write back

+ Request (application/json)
    + Headers

            X-Business-TransactionId:cc238649-659f-4ecb-896f-dc60940a28eb
            Accept-Encoding:gzip
            Authorization:vision_connection token={{token}}


    + Attributes (Write chronic back pain Request)



+ Response 200 





# Data Structures

## Master Patient Search copy Request (object)


### Properties
+ `identifier` (Identifier, required) 
+ `dob` (string, required) 
+ `forenamePart` (string, required) 
+ `surnamePart` (string, required) 
+ `postcodePart` (string, required) 
+ `address` (string, required) 


## Identifier (object)


### Properties
+ `system` (string, required) 
+ `value` (string, required) 


## Security  Login copy Request (object)


### Properties
+ `auth_type` (string, required) 
+ `user_name` (string, required) 
+ `secret` (string, required) 
+ `role_id` (string, required) 
+ `client` (Client, required) 


## Client (object)


### Properties
+ `device_id` (string, required) 
+ `product_key` (string, required) 
+ `product_version` (string, required) 
+ `other_details` (string, required) 


## Request patient record copy Request (object)


### Properties
+ `patient` (Patient, required) 
+ `filter` (object, required) 


## Patient (object)


### Properties
+ `id` (string, required) 
+ `dob` (string, required) 


## Write chronic back pain Request (object)


### Properties
+ `patient` (array[Patient1], required) 


## Patient1 (object)


### Properties
+ `id` (string, required) 
+ `dob` (string, required) 
+ `consultation` (array[Consultation], required) 


## Consultation (object)


### Properties
+ `eventdate` (string, required) 
+ `master_id` (string, required) 
+ `category` (Category, required) 
+ `items` (array[Item], required) 


## Category (object)


### Properties
+ `coding` (array[Coding], required) 


## Coding (object)


### Properties
+ `system` (string, required) 
+ `code` (string, required) 
+ `display` (string, required) 


## Item (object)


### Properties
+ `codedEntry` (CodedEntry, required) 


## CodedEntry (object)


### Properties
+ `eventdate` (string, required) 
+ `master_id` (string, required) 
+ `topic` (number, required) 
+ `code` (Code, required) 
+ `notes` (string, required) 


## Code (object)


### Properties
+ `coding` (array[Coding], required) 

