FORMAT: 1A
HOST: https://vs004.inps.co.uk

# VHG_demo
TODO: Add Description

# Group Appointments

## Appointments V11 Organisations 12345 Patients 3 Notes [/appointments/v1.1/organisations/12345/patients/3/notes]

### Appt  Get Pat Notes copy [GET]
TODO: Add Description

+ Request (application/json)
    + Headers

            X-Business-TransactionId:131c92f1-e679-4903-9283-d0d8773407b7
            Accept-Encoding:gzip

    + Attributes (Appt  Get Pat Notes copyRequest)

    + Body

            {
                "auth_type": "password",
                "user_name": "anton.moonstone@nhs.net",
                "secret": "password2",
                "role_id": "897",
                "client": {
                    "device_id": "1234",
                    "product_key": "bwpelbovlywkb9se",
                    "product_version": "3.0",
                    "other_details": "TT Testing via Postman"
                }
            }


+ Response 200 





# Group MPI

## V1 MasterPatientIndex PatientViews [/v1/masterPatientIndex/patientViews]

### Master Patient Search copy [POST]
TODO: Add Description

+ Request (application/json)
    + Headers

            X-Business-TransactionId:28549221-1927-4c71-a295-694957d506a3
            Accept-Encoding:gzip

    + Attributes (Master Patient Search copyRequest)

    + Body

            {
                "identifier": {
                    "system": "http://fhir.nhs.net/Id/nhs-number",
                    "value": "{{nhs_no}}"
                },
                "dob": "1950-11-08",
                "forenamePart": "{{patient_forename}}",
                "surnamePart": "{{patient_surname}}",
                "postcodePart": "{{patient_postcode}}",
                "address": "{{patient_address}}"
            }


+ Response 200 





# Group Misc

## V2 Session Connections [/v2/session_connections]

### Security  Login copy [POST]
TODO: Add Description

+ Request (application/json)
    + Headers

            X-Business-TransactionId:99197673-4c9b-4f1a-9817-8e39c800ea52
            Accept-Encoding:gzip

    + Attributes (Security  Login copyRequest)

    + Body

            {
                "auth_type": "password",
                "user_name": "anton.moonstone@nhs.net",
                "secret": "password3",
                "role_id": "884",
                "client": {
                    "device_id": "{{device_id}}",
                    "product_key": "{{product_key}}",
                    "product_version": "{{product_version}}",
                    "other_details": "Tony testing 1490567882"
                }
            }


+ Response 200 




## V1 Organisations 12345 Patients 3 [/v1/organisations/12345/patients/3]

### Patient  Get Patients by ID copy [GET]
TODO: Add Description

+ Request 
    + Headers

            X-Business-TransactionId:57804d1a-e520-4ab5-ab1b-73d355ec6d4f
            accept-encoding:gzip, deflate




+ Response 200 




## V1 Organisations 12345 CareRecords [/v1/organisations/12345/careRecords]

### Request patient record copy [POST]
TODO: Add Description

+ Request (application/json)
    + Headers

            X-Business-TransactionId:586126a7-e3e3-425c-9d32-554dcc1ac838
            Accept-Encoding:gzip

    + Attributes (Request patient record copyRequest)

    + Body

            {
                "patient": {
                    "id": "3",
                    "dob": "1950-11-08"
                },
                "filter": {}
            }


+ Response 200 



### Write chronic back pain [PATCH]
TODO: Add Description

+ Request (application/json)
    + Headers

            X-Business-TransactionId:fd4bfc5c-758b-4f97-98b5-9d1c9b9eeed5
            Accept-Encoding:gzip

    + Attributes (Write chronic back painRequest)

    + Body

            {
                "patient": [
                    {
                        "id": "3",
                        "dob": "1950-11-08",
                        "consultation": [
                            {
                                "eventdate": "2017-03-22",
                                "master_id": "3",
                                "category": {
                                    "coding": [
                                        {
                                            "system": "http://visionhealth.co.uk/picklist",
                                            "code": "COT009",
                                            "display": "Surgery consultation"
                                        }
                                    ]
                                },
                                "items": [
                                    {
                                        "codedEntry": {
                                            "eventdate": "2017-03-22",
                                            "master_id": "3",
                                            "topic": 1,
                                            "code": {
                                                "coding": [
                                                    {
                                                        "system": "http://read.info/readv2",
                                                        "code": "16C9.00",
                                                        "display": "Chronic low back pain"
                                                    }
                                                ]
                                            },
                                            "notes": "TT and max 1490567882"
                                        }
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }


+ Response 200 





# Data Structures

## Appt  Get Pat Notes copyRequest (object)


### Properties
+ `auth_type` (string, required) 
+ `user_name` (string, required) 
+ `secret` (string, required) 
+ `role_id` (string, required) 
+ `client` (Client, required) 


## Client (object)


### Properties
+ `device_id` (string, required) 
+ `product_key` (string, required) 
+ `product_version` (string, required) 
+ `other_details` (string, required) 


## Master Patient Search copyRequest (object)


### Properties
+ `identifier` (Identifier, required) 
+ `dob` (string, required) 
+ `forenamePart` (string, required) 
+ `surnamePart` (string, required) 
+ `postcodePart` (string, required) 
+ `address` (string, required) 


## Identifier (object)


### Properties
+ `system` (string, required) 
+ `value` (string, required) 


## Security  Login copyRequest (object)


### Properties
+ `auth_type` (string, required) 
+ `user_name` (string, required) 
+ `secret` (string, required) 
+ `role_id` (string, required) 
+ `client` (Client, required) 


## Request patient record copyRequest (object)


### Properties
+ `patient` (Patient, required) 
+ `filter` (object, required) 


## Patient (object)


### Properties
+ `id` (string, required) 
+ `dob` (string, required) 


## Write chronic back painRequest (object)


### Properties
+ `patient` (array[Patient9], required) 


## Patient9 (object)


### Properties
+ `id` (string, required) 
+ `dob` (string, required) 
+ `consultation` (array[Consultation], required) 


## Consultation (object)


### Properties
+ `eventdate` (string, required) 
+ `master_id` (string, required) 
+ `category` (Category, required) 
+ `items` (array[Item], required) 


## Category (object)


### Properties
+ `coding` (array[Coding], required) 


## Coding (object)


### Properties
+ `system` (string, required) 
+ `code` (string, required) 
+ `display` (string, required) 


## Item (object)


### Properties
+ `codedEntry` (CodedEntry, required) 


## CodedEntry (object)


### Properties
+ `eventdate` (string, required) 
+ `master_id` (string, required) 
+ `topic` (number, required) 
+ `code` (Code, required) 
+ `notes` (string, required) 


## Code (object)


### Properties
+ `coding` (array[Coding], required) 

