FORMAT: 1A
HOST: https://aws-vs002.inps.co.uk

# VHG_demo
TODO: Add Description

# Group Appointments

## Appointments V11 Organisations Patients 3 Notes [/appointments/v1.1/organisations/{org_id}/patients/3/notes]

+ Parameters
    + org_id (string, required)


### Appt  Get Pat Notes copy [GET]
TODO: Add Description

+ Request (application/json)
    + Headers

            X-Business-TransactionId:b46ddb1e-984b-4e8e-ae9c-2df299c336c7
            Accept-Encoding:gzip
            Authorization:vision_connection token={{token}}





+ Response 200 





# Group MPI

## V1 MasterPatientIndex PatientViews [/v1/masterPatientIndex/patientViews]

### Master Patient Search copy [POST]
Post a set filter criteria to the "patientViews" collection and return display details for the matching patients. Filter criteria can be partial.
## Supported ID systems are;
* NHS
* CHI

+ Request (application/json)
    + Headers

            X-Business-TransactionId:8da1adc9-8611-4d99-ba3f-90c7467907c6
            Accept-Encoding:gzip
            Authorization:vision_connection token={{token}}


    + Attributes (Master Patient Search copy Request)


    + Body

            {
                "identifier": {
                    "system": "http://fhir.nhs.net/Id/nhs-number",
                    "value": "{{nhs_no}}"
                },
                "dob": "1996-07-05",
                "forenamePart": "JOHN",
                "surnamePart": "KENNEDY",
                "postcodePart": "{{patient_postcode}}",
                "address": "{{patient_address}}"
            }


+ Response 200 





# Group Misc

## V2 Session Connections [/v2/session_connections]

### Security  Login copy [POST]
Get session connections

+ Request (application/json)
    + Headers

            X-Business-TransactionId:ee4f127a-e2a5-4f0f-9eda-303afdd15e18
            Accept-Encoding:gzip


    + Attributes (Security  Login copy Request)


    + Body

            {
                "auth_type": "password",
                "user_name": "bash@test2.com",
                "secret": "vision360",
                "role_id": "137",
                "client": {
                    "device_id": "{{device_id}}",
                    "product_key": "{{product_key}}",
                    "product_version": "{{product_version}}",
                    "other_details": "Tony testing 1558651248"
                }
            }


+ Response 200 




## V1 Organisations Patients 3 By Org Id [/v1/organisations/{org_id}/patients/3]

+ Parameters
    + org_id (string, required)


### Patient  Get Patients by ID copy [GET]
TODO: Add Description

+ Request (application/json)
    + Headers

            X-Business-TransactionId:cf04bd71-c97e-4005-81ca-4ee68cc54ed1
            accept-encoding:gzip, deflate
            Authorization:vision_connection token={{token}}





+ Response 200 




## V1 Organisations CareRecords By Org Id [/v1/organisations/{org_id}/careRecords]

+ Parameters
    + org_id (string, required)


### Request patient record copy [POST]
Get care records
Pass in patient id and DoB.

+ Request (application/json)
    + Headers

            X-Business-TransactionId:4012e269-9395-47cd-81e5-5d8d6aa740ee
            Accept-Encoding:gzip
            Authorization:vision_connection token={{token}}


    + Attributes (Request patient record copy Request)



+ Response 200 



### Write chronic back pain [PATCH]
First write back

+ Request (application/json)
    + Headers

            X-Business-TransactionId:3c8d5c5a-ae5c-4e1b-8844-ed92761dd99d
            Accept-Encoding:gzip
            Authorization:vision_connection token={{token}}


    + Attributes (Write chronic back pain Request)



+ Response 200 





# Data Structures

## Master Patient Search copy Request (object)


### Properties
+ `identifier` (Identifier, required) 
+ `dob` (string, required) 
+ `forenamePart` (string, required) 
+ `surnamePart` (string, required) 
+ `postcodePart` (string, required) 
+ `address` (string, required) 


## Identifier (object)


### Properties
+ `system` (string, required) 
+ `value` (string, required) 


## Security  Login copy Request (object)


### Properties
+ `auth_type` (string, required) 
+ `user_name` (string, required) 
+ `secret` (string, required) 
+ `role_id` (string, required) 
+ `client` (Client, required) 


## Client (object)


### Properties
+ `device_id` (string, required) 
+ `product_key` (string, required) 
+ `product_version` (string, required) 
+ `other_details` (string, required) 


## Request patient record copy Request (object)


### Properties
+ `patient` (Patient, required) 
+ `filter` (object, required) 


## Patient (object)


### Properties
+ `id` (string, required) 
+ `dob` (string, required) 


## Write chronic back pain Request (object)


### Properties
+ `patient` (array[Patient1], required) 


## Patient1 (object)


### Properties
+ `id` (string, required) 
+ `dob` (string, required) 
+ `consultation` (array[Consultation], required) 


## Consultation (object)


### Properties
+ `eventdate` (string, required) 
+ `master_id` (string, required) 
+ `category` (Category, required) 
+ `items` (array[Item], required) 


## Category (object)


### Properties
+ `coding` (array[Coding], required) 


## Coding (object)


### Properties
+ `system` (string, required) 
+ `code` (string, required) 
+ `display` (string, required) 


## Item (object)


### Properties
+ `codedEntry` (CodedEntry, required) 


## CodedEntry (object)


### Properties
+ `eventdate` (string, required) 
+ `master_id` (string, required) 
+ `topic` (number, required) 
+ `code` (Code, required) 
+ `notes` (string, required) 


## Code (object)


### Properties
+ `coding` (array[Coding], required) 

