FORMAT: 1A
HOST: https://vs004.inps.co.uk

# VHG_demo
TODO: Add Description

# Group Appointments

## Appointments V11 Organisations 12345 Patients 3 Notes [/appointments/v1.1/organisations/12345/patients/3/notes]

### Appt  Get Pat Notes copy [GET]
TODO: Add Description

+ Request (application/json)
    + Headers

            X-Business-TransactionId:09f8c860-e78c-4d18-b69d-fd15ffa79e7e
            Accept-Encoding:gzip
            Authorization:vision_connection token=3:2-2-d1187f51968b4a4fbf972164aebfcfa4-cc93bfb90fc54cc88bb65bd0ebcedc7d




+ Response 200 





# Group MPI

## V1 MasterPatientIndex PatientViews [/v1/masterPatientIndex/patientViews]

### Master Patient Search copy [POST]
Post a set filter criteria to the "patientViews" collection and return display details for the matching patients. Filter criteria can be partial.

## Supported ID systems are;

* NHS

* CHI

+ Request (application/json)
    + Headers

            X-Business-TransactionId:6f6cc88a-139c-41bb-8274-2f1573b3ef34
            Accept-Encoding:gzip
            Authorization:vision_connection token=3:2-2-d1187f51968b4a4fbf972164aebfcfa4-cc93bfb90fc54cc88bb65bd0ebcedc7d

    + Attributes (Master Patient Search copyRequest)

    + Body

            {
                "identifier": {
                    "system": "http://fhir.nhs.net/Id/nhs-number",
                    "value": "{{nhs_no}}"
                },
                "dob": "1950-11-08",
                "forenamePart": "{{patient_forename}}",
                "surnamePart": "{{patient_surname}}",
                "postcodePart": "{{patient_postcode}}",
                "address": "{{patient_address}}"
            }


+ Response 200 





# Group Misc

## V2 Session Connections [/v2/session_connections]

### Security  Login copy [POST]
Get session connections

+ Request (application/json)
    + Headers

            X-Business-TransactionId:d43b0024-eb98-4a08-994f-2998e9708bd0
            Accept-Encoding:gzip

    + Attributes (Security  Login copyRequest)

    + Body

            {
                "auth_type": "password",
                "user_name": "anton.moonstone@nhs.net",
                "secret": "password3",
                "role_id": "884",
                "client": {
                    "device_id": "{{device_id}}",
                    "product_key": "{{product_key}}",
                    "product_version": "{{product_version}}",
                    "other_details": "Tony testing 1522535881"
                }
            }


+ Response 200 




## V1 Organisations 12345 Patients 3 [/v1/organisations/12345/patients/3]

### Patient  Get Patients by ID copy [GET]
TODO: Add Description

+ Request (application/json)
    + Headers

            X-Business-TransactionId:314697a9-41bf-434e-beb6-f48116d8caf9
            accept-encoding:gzip, deflate
            Authorization:vision_connection token=3:2-2-d1187f51968b4a4fbf972164aebfcfa4-cc93bfb90fc54cc88bb65bd0ebcedc7d




+ Response 200 




## V1 Organisations 12345 CareRecords [/v1/organisations/12345/careRecords]

### Request patient record copy [POST]
Get care records

Pass in patient id and DoB.

+ Request (application/json)
    + Headers

            X-Business-TransactionId:2e8ececd-3603-4686-bdd8-f456007f650c
            Accept-Encoding:gzip
            Authorization:vision_connection token=3:2-2-d1187f51968b4a4fbf972164aebfcfa4-cc93bfb90fc54cc88bb65bd0ebcedc7d

    + Attributes (Request patient record copyRequest)

    + Body

            {
                "patient": {
                    "id": "3",
                    "dob": "1950-11-08"
                },
                "filter": {}
            }


+ Response 200 



### Write chronic back pain [PATCH]
First write back

+ Request (application/json)
    + Headers

            X-Business-TransactionId:107f6475-b5da-4dec-bde6-007e4610277a
            Accept-Encoding:gzip
            Authorization:vision_connection token=3:2-2-d1187f51968b4a4fbf972164aebfcfa4-cc93bfb90fc54cc88bb65bd0ebcedc7d

    + Attributes (Write chronic back painRequest)

    + Body

            {
                "patient": [
                    {
                        "id": "3",
                        "dob": "1950-11-08",
                        "consultation": [
                            {
                                "eventdate": "2017-03-22",
                                "master_id": "3",
                                "category": {
                                    "coding": [
                                        {
                                            "system": "http://visionhealth.co.uk/picklist",
                                            "code": "COT009",
                                            "display": "Surgery consultation"
                                        }
                                    ]
                                },
                                "items": [
                                    {
                                        "codedEntry": {
                                            "eventdate": "2017-03-22",
                                            "master_id": "3",
                                            "topic": 1,
                                            "code": {
                                                "coding": [
                                                    {
                                                        "system": "http://read.info/readv2",
                                                        "code": "16C9.00",
                                                        "display": "Chronic low back pain"
                                                    }
                                                ]
                                            },
                                            "notes": "TT and max 1522535881"
                                        }
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }


+ Response 200 





# Data Structures

## Master Patient Search copyRequest (object)


### Properties
+ `identifier` (Identifier, required) 
+ `dob`: `1950-11-08` (string, required) 
+ `forenamePart`: `{{patient_forename}}` (string, required) 
+ `surnamePart`: `{{patient_surname}}` (string, required) 
+ `postcodePart`: `{{patient_postcode}}` (string, required) 
+ `address`: `{{patient_address}}` (string, required) 


## Identifier (object)


### Properties
+ `system`: `http://fhir.nhs.net/Id/nhs-number` (string, required) 
+ `value`: `{{nhs_no}}` (string, required) 


## Security  Login copyRequest (object)


### Properties
+ `auth_type`: `password` (string, required) 
+ `user_name`: `anton.moonstone@nhs.net` (string, required) 
+ `secret`: `password3` (string, required) 
+ `role_id`: `884` (string, required) 
+ `client`: `884` (Client, required) 


## Client (object)


### Properties
+ `device_id`: `{{device_id}}` (string, required) 
+ `product_key`: `{{product_key}}` (string, required) 
+ `product_version`: `{{product_version}}` (string, required) 
+ `other_details`: `Tony testing 1522535881` (string, required) 


## Request patient record copyRequest (object)


### Properties
+ `patient` (Patient, required) 
+ `filter`: `{}` (object, required) 


## Patient (object)


### Properties
+ `id`: `3` (string, required) 
+ `dob`: `1950-11-08` (string, required) 


## Write chronic back painRequest (object)


### Properties
+ `patient` (array[Patient7], required) 


## Patient7 (object)


### Properties
+ `id`: `3` (string, required) 
+ `dob`: `1950-11-08` (string, required) 
+ `consultation`: `1950-11-08` (array[Consultation], required) 


## Consultation (object)


### Properties
+ `eventdate`: `2017-03-22` (string, required) 
+ `master_id`: `3` (string, required) 
+ `category`: `3` (Category, required) 
+ `items`: `3` (array[Item], required) 


## Category (object)


### Properties
+ `coding` (array[Coding], required) 


## Coding (object)


### Properties
+ `system`: `http://visionhealth.co.uk/picklist` (string, required) 
+ `code`: `COT009` (string, required) 
+ `display`: `Surgery consultation` (string, required) 


## Item (object)


### Properties
+ `codedEntry` (CodedEntry, required) 


## CodedEntry (object)


### Properties
+ `eventdate`: `2017-03-22` (string, required) 
+ `master_id`: `3` (string, required) 
+ `topic`: `1` (number, required) 
+ `code`: `1` (Code, required) 
+ `notes`: `TT and max 1522535881` (string, required) 


## Code (object)


### Properties
+ `coding` (array[Coding], required) 

